#welcome
  .yui-gc
    .yui-u.first
      .box
        %h2 
          Music Collaboration at 
          %a{:href=>"/"}= AppConfig.community_name
          !
        %p
          
    .yui-u
      .box
        %h2 
          See how it works
        %p Create your account.
        %h4 
          =link_to "Sign up", signup_path