= render :partial => 'about_nav'

#yui-main
  .yui-b
    .box
      %h1= "About #{AppConfig.community_name}.com"
      var pageBlips = new Array(
      {id: 32666, elm: $('tweem32666'), url: "http://www.supergossard.it/multimedia/PJ%20-%202006.05.05%20-%20NY%20Irving%20Plaza/cd1/Pearl%20Jam%20-%2010%20-%20Given%20To%20Fly.mp3", blipType: "songUrl"}, 
      {id: 32667, elm: $('tweem32667'), url: "http://www.paulaltobelli.com/media/pearl-jam-052706_present-tense.mp3", blipType: "songUrl"}, 
      {id: 32668, elm: $('tweem32668'), url: "http://www.box.net/index.php?rm=box_v2_download_file&uniq_name=index.php?rm=box_v2_download_file&uniq_name=scorpion&file_id=f_&file_id=f_100450136/11.%20Sunday%20Bloody%20Sunday.mp3", blipType: "songUrl"}, 
      {id: 32669, elm: $('tweem32669'), url: "http://www.infonistacrat.com/data/692008/6920083.mp3", blipType: "songUrl"}, 
      {id: 32670, elm: $('tweem32670'), url: "http://fuelfriendsblog.com/listenup/First%20week%20rehearsal%20demos%2010_23_90/04%20Release.mp3", blipType: "songUrl"}, 
      {id: 32672, elm: $('tweem32672'), url: "http://www.matthewelmore.com/ian/Pearl%20Jam%20-%20Corduroy.mp3", blipType: "songUrl"}, 
      {id: 32673, elm: $('tweem32673'), url: "33758 OscarPetersonYouLookGoodToMe", blipType: "fuzzSong"}, 
      {id: 32674, elm: $('tweem32674'), url: "http://pigeonkicker3.googlepages.com/07CumOnFeelTheNoize1.mp3", blipType: "songUrl"}, 
      {id: 32675, elm: $('tweem32675'), url: "65055 YoungNLove", blipType: "fuzzSong"}, 
      {id: 32676, elm: $('tweem32676'), url: "http://www.supergossard.it/multimedia/PJ%20-%202006.05.05%20-%20NY%20Irving%20Plaza/cd2/Pearl%20Jam%20-%2003%20-%20Do%20The%20Evolution.mp3", blipType: "songUrl"}, 
      {id: 32677, elm: $('tweem32677'), url: "65055 IJustWanna", blipType: "fuzzSong"}, 
      {id: 32678, elm: $('tweem32678'), url: "http://lsdis.cs.uga.edu/~cartic/dataset/pearlJAm/03%20Alive.mp3", blipType: "songUrl"}, 
      {id: 32679, elm: $('tweem32679'), url: "http://stopokaygo.typepad.com/web/files/focus_hocus_pocus.mp3", blipType: "songUrl"}, 
      {id: 32680, elm: $('tweem32680'), url: "http://users1.ml.mindenkilapja.hu/users/ashleyweb/uploads/03-ashley_tisdale-he_said_she_said.mp3", blipType: "songUrl"}, 
      {id: 32681, elm: $('tweem32681'), url: "65055 IJustWanna", blipType: "fuzzSong"}, 
      {id: 32682, elm: $('tweem32682'), url: "65055 YoungNLove", blipType: "fuzzSong"}, 
      {id: 32683, elm: $('tweem32683'), url: "http://www.box.net/index.php?rm=box_v2_download_file&uniq_name=lovestory&file_id=f_124531355/10.%20Kiwi.mp3", blipType: "songUrl"}, 
      {id: 32684, elm: $('tweem32684'), url: "http://www.gershy.com/music/Michel%20Petrucciani%20-%20The%20Blue%20Note%20Years/12%20O%20Nana%20Oye.mp3", blipType: "songUrl"}, 
      {id: 32685, elm: $('tweem32685'), url: "http://tacticalknightmare.com/gaz/tunes/13-dr_hook-the_cover_of_the_rolling_stone.mp3", blipType: "songUrl"}, 
      {id: 32686, elm: $('tweem32686'), url: "http://www.stane-island.net/goodies/tunes/Fiona_Apple-Paper_Bag.mp3", blipType: "songUrl"}, 
      {id: 32687, elm: $('tweem32687'), url: "http://www.fileden.com/files/2008/4/12/1863837/06%20Like%20Whoa.mp3", blipType: "songUrl"}, 
      {id: 32689, elm: $('tweem32689'), url: "http://thisisfil.com/music/11%20-%20Jet%20Boy.mp3", blipType: "songUrl"}, 
      {id: 32690, elm: $('tweem32690'), url: "http://music.redkin.pp.ru/Flyleaf/Flyleaf/07%20All%20Around%20Me.mp3", blipType: "songUrl"}, 
      {id: 32691, elm: $('tweem32691'), url: "65102 ExNorwegianSomethingUnreal", blipType: "fuzzSong"}, 
      {id: 32692, elm: $('tweem32692'), url: "http://www.shockpod.com/users/ammonoid/lordi.mp3", blipType: "songUrl"}
      );
